@import url(https://fonts.google.com/specimen/Poppins);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: .0625rem solid aqua;
    outline-offset: -0.0625rem;*/
}

.card-container {
    width: 16.375rem;
    height: 5.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .625rem .625rem 0rem 0rem;
}

.card {
    width: 16.375rem;
    height: 16.8329rem;
    border-radius: .625rem;
    /* Drop Cards */
    box-shadow: .3125rem .3125rem .9375rem 0rem rgba(0, 0, 0, 0.08);
}


.body {
    width: 100%;
    height: 100%;
    margin-top: .9375rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 7.5rem;
    height: 7.5rem;
    margin-top: 12rem;
    flex-shrink: 0;
    border-radius: 7.5rem;
    background: url(https://avatars.githubusercontent.com/u/608731?v=4), lightgray 50% / cover no-repeat;
}

.nome {
    padding: 1.875rem;
    display: flex;
    width: 14.8125rem;
    height: 1.375rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cargo {
    display: flex;
    justify-content: center;
    color: #212121;
}

/* Expanded Card */

.expanded {
    width: 90%;
    height: 12rem;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .9375rem 0rem rgba(0, 0, 0, 0.08);
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.container-expanded {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.header-expanded {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    height: 100%;
}

.header-expanded img {
    height: 9rem;
}

.expanded-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.nome-expanded {
    height: 30%;
    font-weight: 700;
    font-size: 2em;
}

.cargo-expanded {
    height: 100%;
    font-size: 1.3em;
}

/* Modes */

/* NormalCard */

.light {
    background: #fff;
}

.light .card-container {
    background-color: #82CFFA;
}

.light .nome {
    color: #6278F7;
}

.light .cargo {
    color: #212121;
}

.dark {
    background: #242424;
}

.dark .card-container {
    background-color: #FE810B;
}

.dark .nome {
    color: #FFA200;
}

.dark .cargo {
    color: #FFFFFF;
}

.dark .header .avatar {
    border: 3px solid #242424;
}

/* ExpandedCard */


.light {
    background: #fff;
}

.light .header-expanded {
    background-color: #82CFFA;
}

.light .nome-expanded {
    color: #6278F7;
    border-bottom: 1px solid #212121;
}

.light .cargo-expanded {
    color: #212121;
}


.dark {
    background: #242424;
}

.dark .header-expanded {
    background-color: #FE810B;
}

.dark .nome-expanded {
    color: #FFA200;
    border-bottom: 1px solid #FFFFFF;
}

.dark .cargo-expanded {
    color: #FFFFFF;
}

.dark .avatar-square, .dark .avatar {
    border: 3px solid #242424;
}


@media (max-width:690px) {
    .expanded {
        height: 30rem;
    }

    .container-expanded {
        display: flex;
        flex-direction: column;
    }

    .header-expanded {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-expanded img {
        width: 12rem;
        height: 12rem;
    }

    .expanded-body {
        text-align: center;
    }
}

@media (max-width:405px) {
    .nome-expanded {
        font-size: 1.2em;
    }

    .cargo-expanded {
        padding-top: 10px;
        font-size: 1.1em;
    }
}



