@import url(https://fonts.google.com/specimen/Poppins);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: .0625rem solid aqua;
    outline-offset: -0.0625rem;*/
}

.card-container {
    width: 16.375rem;
    height: 5.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .625rem .625rem 0rem 0rem;
    background-color: #82CFFA;
}

.card {
    width: 16.375rem;
    height: 16.8329rem;
    border-radius: .625rem;
    /* Drop Cards */
    box-shadow: .3125rem .3125rem .9375rem 0rem rgba(0, 0, 0, 0.08);
}


.body {
    width: 100%;
    height: 100%;
    margin-top: .9375rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 7.5rem;
    height: 7.5rem;
    margin-top: 12rem;
    flex-shrink: 0;
    border-radius: 7.5rem;
    background: url(https://avatars.githubusercontent.com/u/608731?v=4), lightgray 50% / cover no-repeat;
}

.nome {
    padding: 1.875rem;
    display: flex;
    width: 14.8125rem;
    height: 1.375rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #6278F7;
}

.cargo {
    display: flex;
    justify-content: center;
    color: #212121;
}

/* Expanded Card */

.expanded {
    width: 90%;
    height: 20rem;
    border-radius: 15px;
    box-shadow: .3125rem .3125rem .9375rem 0rem rgba(0, 0, 0, 0.08);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    border: 1px solid #cacaca;
}

.container-expanded {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-expanded {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    height: 100%;
}

.header-expanded img {
    height: 8rem;
    position: relative;
    top: 60px;
}

.expanded-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    position: relative;
    top: 30px;
    gap: 8px;
}

.infos-expanded {
    display: flex;
    flex-direction: column;
    color: #666666;
}

.nome-expanded {
    height: 30%;
    font-weight: 700;
    font-size: 1.5em;
}

.cargo-expanded {
    height: 100%;
    font-size: 1.2em;
}