
div.header > img{
    width: 70%;
    border-radius: 50%;

  }

div.header{
  display: flex;
  justify-content: center;
}
div {
  padding: 1% 1% 1%;
}

div.body {
  display: flex;
  justify-content: center;
  font-family: cursive;
}

.card {
  display: grid;
  border-style: solid;
  border-color:black;
  border-radius: 10px;
  margin-right: 75%;
  background-color:cornsilk;
}

  