
div.header > img{
    width: 200px;
    border-radius: 50%;
  }

div {
  margin-top: 30px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: auto;
  justify-content: center;
  align-content: center;
}

div.body {
  font-family: cursive;
}

.card {
  border-style: inset;
}



  