.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: .3125rem .3125rem .9375rem 0rem rgba(0, 0, 0, 0.08);
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.avatar-square {
    border-radius: 5px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: .3125rem .3125rem .9375rem 0rem rgba(0, 0, 0, 0.08);
}